<%-include('../includes/head.ejs')%>
    <div class="container">
        <h1 class="mt-5" style="text-align: center;">Enter your URL and short it</h1>
        <div class="card mt-5">
            <div class="card-header">
                Short your URL
            </div>
            <div class="card-body">
                <form method="POST" action="/shortener">
                    <div class="mb-3">
                      <label for="urlLink">URL</label>
                      <input name="url" type="text" class="form-control" id="urlLink" placeholder="Enter your URL...">
                    </div>
                      <button type="submit" class="btn btn-primary">Add URL</button>
                </form>              
            </div>
          </div> 
    </div>     
</body>
</html>